@import url(../basic.css);
#main {
    max-width: 700px;
    margin: auto;
    padding: var(--spacing);
    padding-top: 0;
}
.bod-title-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: var(--double-spacing);
}
.bod-title-cont p {
    padding: var(--half-spacing);
}
.nobel-cont {
    padding: var(--half-spacing);
    padding-top: var(--spacing);
}
.datos-nob {
    display: flex;
    justify-content: space-between;
}
.img-nob img {
    border-radius: var(--nt-radius);
    -webkit-border-radius: var(--nt-radius);
    -moz-border-radius: var(--nt-radius);
    -ms-border-radius: var(--nt-radius);
    -o-border-radius: var(--nt-radius);
}
.datos-nob div p, .datos-nob div h2 {
padding-bottom: var(--half-spacing);
}